%section.bg-gray-900
  .flex.flex-col.items-center.justify-center.px-4.py-8.mx-auto.lg:py-0
    %h1.text-white.font-bold.text-4xl.mb-4.mt-10 BugHunt``
    .w-full.rounded-lg.shadow.border.md:mt-0.sm:max-w-md.xl:p-0.bg-gray-800.border-gray-700
      .p-6.space-y-4.md:space-y-6.sm:p-8 
        = form_with(model: @tester.bugs.build) do |f|
          = render "devise/shared/error_messages", resource: f.object
          .field
            .block.mb-2.text-sm.font-medium.text-white
              = f.label :title
              = f.text_field :title, autofocus: true, required: true, class: "border sm:text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
          .field
            .block.mb-2.text-sm.font-medium.text-white
              = f.hidden_field :status, as: :hidden, value: :unsolved
          .field
            .block.mb-2.text-sm.font-medium.text-white
              = f.label :description
              = f.text_area :description,required: true, class: "border sm:text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
          .actions
            %button.btn.w-full.text-white.focus:ring-4.focus:outline-none.font-medium.rounded-lg.text-sm.px-5.text-center.bg-primary-600.hover:bg-primary-700.focus:ring-primary-800
              = f.submit "Add new bug", class: 'py-2.5', role: "button"